#page-header.aboutheader{
 background-image: url(img/about/banner.png);
}
#about-head marquee{
    background-color: #ccc;
}
#about-head img{
width: 50%;
height: auto;
}
#about-head {
    display: flex;
    align-items: center;
}
#about-head div{
padding-left: 40px;
}