#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}
#prodetails .small-img-group{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    margin: 4px;
    cursor: pointer;
}
#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}
#prodetails .single-pro-details h4{
    padding:40px 0 20px 0 ;
}
#prodetails .single-pro-details h2{
    font-size: 25px;
}
#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
    outline: none;
}
#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}
#prodetails .single-pro-details .normal{
    background-color: #088178;
    color: #fff;
}
#prodetails .single-pro-details input:focus{
    outline: none;
}
#prodetails .single-pro-details span{
    line-height: 25px;
}